#scene {
  width: 100%;
  height: 100%;
  position: relative;

  background:
    radial-gradient(
      ellipse at center,
      #0f2a44 0%,
      #081726 55%,
      #000000 100%
    ),
    url("img1.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
